spring:
  application:
    name: api-gateway
  config:
    import: configserver:http://config-server:8888
  cloud:
    config:
      uri: http://config-server:8888
      name: api-gateway
      profile: default

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

