spring:
  application:
    name: api-gateway
  cloud:
    config:
      uri: http://localhost:8888
      name: api-gateway
      profile: default

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

