apiVersion: v1
kind: Secret
metadata:
  name: ecommerce-secrets
  namespace: ecommerce
type: Opaque
stringData:
  db.username: root
  db.password: rootpassword
  jwt.secret: your-super-secret-jwt-key-change-in-production-min-256-bits
  redis.password: ""
  kafka.broker: kafka:9092

