spring:
  application:
    name: inventory-service
  config:
    import: configserver:http://config-server:8888
  cloud:
    config:
      uri: http://config-server:8888
      name: inventory-service
      profile: default
      fail-fast: false
      retry:
        initial-interval: 1000
        max-attempts: 6
        max-interval: 2000
        multiplier: 1.1

